<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fooddoor"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDoor"
        tools:targetApi="31">
        <activity
            android:name=".AdminAboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminEditCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ManageCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".AdminChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AdminNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".AdminEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSettingActivity"
            android:exported="false" />
        <activity
            android:name=".AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPastOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminOngoingOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminNewOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ManageItemsActivity"
            android:exported="false" />
        <activity
            android:name=".ManageWorkerActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:theme="@style/Theme.FoodDoor" />
        <activity
            android:name=".FavouriteActivity"
            android:exported="false"
            android:theme="@style/Theme.FoodDoor" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:theme="@style/Theme.FoodDoor" />
        <activity
            android:name=".ContactusActivity"
            android:exported="false"
            android:theme="@style/Theme.FoodDoor" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.FoodDoor" />
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.FoodDoor" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.FoodDoor" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FoodDoor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>